<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectoapp.supercarrito">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TPV Movil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.Main2Activity"></activity>
        <activity android:name=".vista.stock.StockActivity"></activity>
        <activity android:name=".vista.ExampleActivity" />
        <activity android:name=".vista.resumen.ResumenActivity" />
        <activity android:name=".vista.ventas.SimpleScannerSalesActivity" />
        <activity android:name=".vista.ventas.SaleActivity" />
        <activity android:name=".vista.ventas.VentaActivity" />
        <activity android:name=".vista.entrada.SimpleScannerActivity" />
        <activity android:name=".vista.entrada.EntradaActivity" />
        <activity android:name=".vista.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.login.ForgotPassActivity" />
        <activity android:name=".vista.login.LoginActivity" />
        <activity android:name=".vista.MainActivity" />
        <activity android:name=".vista.login.RegisterActivity" />
    </application>

</manifest>